.yourCartDiv2 {
    width: 100%;
    text-align: center;
    height: 800px;
    line-height: 14;
}

.yourCartHeader, .yourCartFooter {
    list-style: none;
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    margin: 40px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    color: white;
    background: rgb(4, 4, 106);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.yourCartHeaderTitle, .receiptLi1 {
    padding-left: 30px;
    flex: 2;
}

.yourCartHeaderPrice, .receiptLi3, .yourCartFooterTotalPrice {
    padding-right: 30px
}

.yourCartHeaderPrice, .yourCartHeaderAmount, .yourCartHeaderUnitPrice, .receiptLi4, .receiptLi2, .receiptLi3, .yourCartFooterTotalPrice {
    flex: 1;
}

.receiptUl {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    color: rgb(4, 4, 106);
}

.yourCartFooterInformation {
    flex: 4;
}